script(type="text/javascript", src="javascripts/jquery-1.6.1.min.js")
script(type="text/javascript", src="javascripts/login.js")
link(rel="stylesheet",href="stylesheets/style.css")

<div id="onlineListDiv">
<div style="text-align:center;width:800px;">
在线用户列表
</div>
<ul id="onlineListUl">

</ul>
</div>
<script>
$(document).ready(function(){initOnlineUserList();});
</script>